In [2]:
import pandas as pd

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv")
df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,773553.37,11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,746336.24,08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.49,02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,395264.11,09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,370819.35,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3857047706,05/01/2020,1084,PPP,NORTHERN ALASKA CONTRACTORS LLC,3610 MERE CIRCLE,ANCHORAGE,AK,99502,07/13/2021,...,Limited Liability Company(LLC),12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,372875.94,06/22/2021
996,6411717106,04/14/2020,1084,PPP,"L&M EQUIPMENT, INC.",PO BOX 241,NAKNEK,AK,99633,04/27/2021,...,Corporation,3386,First National Bank Alaska,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,360636.31,12/17/2020
997,6297468301,01/26/2021,1084,PPS,EL CAPITAN LODGE LLC,1 Sarkar Rd.,Sarkar Cove,AK,99921,NaN,...,Limited Liability Company(LLC),59358,"BOKF, National Association",TULSA,OK,Male Owned,Non-Veteran,NaN,372821.37,06/07/2022
998,6226697002,04/06/2020,1084,PPP,WASILLA DRIVE-IN LLC,2051 E. Sun Mountain Ave.,WASILLA,AK,99654-7351,08/19/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Unanswered,Unanswered,NaN,372314.56,07/22/2021
999,3933197207,04/27/2020,1084,PPP,"TRIVERUS, LLC",1960 S Eklutna St,Palmer,AK,99645,07/20/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,371221.68,06/02/2021

In [8]:
df.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,1.000000e+03,1000.000000,1000.000000,1000.0,1.000000e+03,1.000000e+03,1000.0,1000.000000,1000.000000,999.000000,413.000000,9.980000e+02,38.000000,147.000000,1.0,7.700000e+01,20.000000,1000.000000,9.350000e+02
mean,5.323518e+09,1074.068000,36.743000,100.0,9.523514e+05,9.647035e+05,0.0,62646.676000,72.871000,509316.665666,16863.820823,9.385790e+05,33246.180789,71710.026667,10000.0,1.111505e+05,33142.546000,62024.840000,9.129827e+05
std,2.362641e+09,93.770178,17.211542,0.0,9.470212e+05,9.509290e+05,0.0,75172.748899,73.650477,181263.442664,59265.173002,9.380392e+05,35466.207729,69605.220007,NaN,1.988859e+05,47648.460214,73473.174448,8.540587e+05
min,1.001567e+09,101.000000,24.000000,100.0,1.550100e+05,1.550100e+05,0.0,3386.000000,2.000000,112511.000000,1.000000,1.550100e+05,567.140000,1000.000000,10000.0,2.097720e+03,899.980000,3386.000000,1.012108e+05
25%,3.570982e+09,1084.000000,24.000000,100.0,4.533080e+05,4.639350e+05,0.0,3386.000000,30.000000,423175.000000,1.000000,4.523362e+05,9250.000000,28695.000000,10000.0,2.894444e+04,4191.115000,3386.000000,4.567262e+05
50%,5.124374e+09,1084.000000,24.000000,100.0,6.179993e+05,6.317223e+05,0.0,56102.000000,48.000000,541350.000000,1.000000,6.163180e+05,20276.000000,50222.140000,10000.0,5.029510e+04,14628.525000,56102.000000,6.230371e+05
75%,7.058052e+09,1084.000000,60.000000,100.0,1.024391e+06,1.035338e+06,0.0,116975.000000,85.000000,621760.000000,12459.770000,1.013201e+06,50137.500000,91491.000000,10000.0,1.000000e+05,35946.250000,116975.000000,1.010828e+06
max,9.993717e+09,1084.000000,60.000000,100.0,9.571397e+06,9.538531e+06,0.0,524612.000000,500.000000,924120.000000,880558.950000,9.538531e+06,151421.000000,404926.450000,10000.0,1.490741e+06,200772.400000,518683.000000,9.615885e+06

In [10]:
pd.options.display.float_format = '{:,.0f}'.format

In [12]:
df.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,"1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000",999,413,998,38,147,1,77,20,"1,000",935
mean,"5,323,517,923","1,074",37,100,"952,351","964,704",0,"62,647",73,"509,317","16,864","938,579","33,246","71,710","10,000","111,150","33,143","62,025","912,983"
std,"2,362,640,834",94,17,0,"947,021","950,929",0,"75,173",74,"181,263","59,265","938,039","35,466","69,605",NaN,"198,886","47,648","73,473","854,059"
min,"1,001,567,103",101,24,100,"155,010","155,010",0,"3,386",2,"112,511",1,"155,010",567,"1,000","10,000","2,098",900,"3,386","101,211"
25%,"3,570,982,102","1,084",24,100,"453,308","463,935",0,"3,386",30,"423,175",1,"452,336","9,250","28,695","10,000","28,944","4,191","3,386","456,726"
50%,"5,124,373,556","1,084",24,100,"617,999","631,722",0,"56,102",48,"541,350",1,"616,318","20,276","50,222","10,000","50,295","14,629","56,102","623,037"
75%,"7,058,052,030","1,084",60,100,"1,024,391","1,035,338",0,"116,975",85,"621,760","12,460","1,013,201","50,138","91,491","10,000","100,000","35,946","116,975","1,010,828"
max,"9,993,717,000","1,084",60,100,"9,571,397","9,538,531",0,"524,612",500,"924,120","880,559","9,538,531","151,421","404,926","10,000","1,490,741","200,772","518,683","9,615,885"

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LoanNumber                   1000 non-null   int64
 1   DateApproved                 1000 non-null   object
 2   SBAOfficeCode                1000 non-null   int64
 3   ProcessingMethod             1000 non-null   object
 4   BorrowerName                 1000 non-null   object
 5   BorrowerAddress              992 non-null    object
 6   BorrowerCity                 992 non-null    object
 7   BorrowerState                987 non-null    object
 8   BorrowerZip                  992 non-null    object
 9   LoanStatusDate               916 non-null    object
 10  LoanStatus                   1000 non-null   object
 11  Term                         1000 non-null   int64
 12  SBAGuarantyPercentage        1000 non-null   int64
 13  InitialApprovalAmount        1000 non-null   float64
 14  CurrentApprovalAmount        1000 non-null   float64
 15  UndisbursedAmount            1000 non-null   int64
 16  FranchiseName                34 non-null     object
 17  ServicingLenderLocationID    1000 non-null   int64
 18  ServicingLenderName          1000 non-null   object
 19  ServicingLenderAddress       1000 non-null   object
 20  ServicingLenderCity          1000 non-null   object
 21  ServicingLenderState         1000 non-null   object
 22  ServicingLenderZip           1000 non-null   object
 23  RuralUrbanIndicator          1000 non-null   object
 24  HubzoneIndicator             1000 non-null   object
 25  LMIIndicator                 1000 non-null   object
 26  BusinessAgeDescription       1000 non-null   object
 27  ProjectCity                  992 non-null    object
 28  ProjectCountyName            992 non-null    object
 29  ProjectState                 992 non-null    object
 30  ProjectZip                   992 non-null    object
 31  CD                           992 non-null    object
 32  JobsReported                 1000 non-null   int64
 33  NAICSCode                    999 non-null    float64
 34  Race                         1000 non-null   object
 35  Ethnicity                    1000 non-null   object
 36  UTILITIES_PROCEED            413 non-null    float64
 37  PAYROLL_PROCEED              998 non-null    float64
 38  MORTGAGE_INTEREST_PROCEED    38 non-null     float64
 39  RENT_PROCEED                 147 non-null    float64
 40  REFINANCE_EIDL_PROCEED       1 non-null      float64
 41  HEALTH_CARE_PROCEED          77 non-null     float64
 42  DEBT_INTEREST_PROCEED        20 non-null     float64
 43  BusinessType                 993 non-null    object
 44  OriginatingLenderLocationID  1000 non-null   int64
 45  OriginatingLender            1000 non-null   object
 46  OriginatingLenderCity        1000 non-null   object
 47  OriginatingLenderState       1000 non-null   object
 48  Gender                       1000 non-null   object
 49  Veteran                      1000 non-null   object
 50  NonProfit                    99 non-null     object
 51  ForgivenessAmount            935 non-null    float64
 52  ForgivenessDate              935 non-null    object
dtypes: float64(11), int64(8), object(34)
memory usage: 414.2+ KB

In [32]:
total_loan_forgiven = f"The sum of all the forgiven loans \
was ${df['ForgivenessAmount'].sum():,.0F}"

In [34]:
print (total_loan_forgiven)

The sum of all the forgiven loans was $853,638,795

In [ ]:
## return the median for CurrentApprovalAmount loans, InitialApprovalAmount loans and ForgivenessAmount loan amounts

In [42]:
df["CurrentApprovalAmount"].median()

631722.275

In [44]:
df["InitialApprovalAmount"].median()

617999.31

In [46]:
df["ForgivenessAmount"].median()

623037.09

In [48]:
df[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].median()

CurrentApprovalAmount   631,722
InitialApprovalAmount   617,999
ForgivenessAmount       623,037
dtype: float64

In [50]:
(df[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].sum().to_frame("Total Amounts"))

                       Total Amounts
CurrentApprovalAmount    964,703,547
InitialApprovalAmount    952,351,405
ForgivenessAmount        853,638,795

In [52]:
df["CurrentApprovalAmount"]

0     769,359
1     736,928
2     691,355
3     499,871
4     367,437
        ...
995   368,734
996   368,300
997   367,815
998   367,750
999   367,218
Name: CurrentApprovalAmount, Length: 1000, dtype: float64

In [54]:
df["CurrentApprovalAmount"].agg(["count", "mean", "median"])

count      1,000
mean     964,704
median   631,722
Name: CurrentApprovalAmount, dtype: float64

In [60]:
df[["InitialApprovalAmount", "CurrentApprovalAmount"]].agg(["count", "mean", "median"])

        InitialApprovalAmount  CurrentApprovalAmount
count                   1,000                  1,000
mean                  952,351                964,704
median                617,999                631,722

In [62]:
df[["InitialApprovalAmount", "CurrentApprovalAmount"]].agg(["count", "mean", "median"])

        InitialApprovalAmount  CurrentApprovalAmount
count                   1,000                  1,000
mean                  952,351                964,704
median                617,999                631,722